footer {
  background-color: $primary-color;
  min-height: 130px;
  padding: 50px 10px 0 10px;
  box-shadow: inset 0 4px 4px -5px #353535;


  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  ul{
    display: flex;
    justify-content: space-between;

  }

}