table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;

  @media (min-width: 768px) {
    width: 75%;
    margin: auto;
  }
}

thead {
  background-color: $primary-color;
@media (min-width: 375px) {
  padding: 10px;
}
}

td.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.quantity__control {
  border: none;
  background: transparent;
}

th, td {
  @media (min-width: 375px) {
    padding: 10px;
  }
}

tbody tr {
  background-color: lighten($primary-color, 6%);
}

tfoot td[id] {
  background-color: $primary-color;
}